:root {
  --font-family: Fira Code;
}
.wrapper {
  width: 1170px;
  max-width: 100%;
}

main > div {
  font-size: 14px;
}

span[boolean] {
  text-transform: uppercase;
}

[boolean='true'] {
  color: #81c784;
}

[boolean='false'] {
  color: #e57373;
}
